<p>login works!</p>
<form>
    <div class="container">
        <label>Username : </label>
        <input type="text" placeholder="Enter Username" name="username" required />
        <label>Password : </label>
        <input type="password" placeholder="Enter Password" name="password" required />
        <button mat-raised-button>Login</button>
        <input type="checkbox" checked="checked" /> Remember me
        <button type="button" class="cancelbtn">Cancel</button> <a href="#">Forgot password? </a>
    </div>
</form>